<%- include('./partials/header.ejs') %>
  
<div class="container">
    <div class="row">
        <div class="col-sm-6 mt-5">
            <h2 class="alert alert-success text-center">Update Employee</h2>
        <form method="post" action="/employee/update/<%= data._id %>">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" name="name" id="name" value="<%= data.name%>"/>
            </div>

            <div class="mb-3">
                <label for="age" class="form-label">Age</label>
                <input type="text" class="form-control" name="age" id="age" value="<%= data.age%>">
            </div>
            <div class="mb-3">
                <label for="employeeid" class="form-label">Employee Id</label>
                <input type="text" class="form-control" name="employeeid" id="employeeid" value="<%= data.employeeid%>" >
            </div>
        <button type="submit" class="btn btn-primary">Update</button>
        <button type="submit" class="btn btn-primary">Back to Home</button>
        </div>
         
    </div>
</div>

<%- include('./partials/footer.ejs') %>

    

    